
{% extends "layout.html" %}

{% block content %}
        <h1>Admin panel with users messages </h1>

        <h2>Messages received by users:</h2>
        {% for message in messageRead %}
        <article class="media content-section d-flex">
            <img class="rounded-circle account-img"
                 src="{{ url_for('static', filename='profile_pics/' + message.user.image_file) }}">

            <div class="media-body">
                <div class="mb-2">
                    <a class="mr-2 fw-bold" href="#message_by_user">{{ message.user.username }}</a>
                    <small class="text-muted">{{ message.date_posted }}</small>
                </div>

                <h2 class="h5">
                    <a class="article-title" href="#">{{ message.title }}</a>
                </h2>
                <p class="article-content text_wrap">{{ message.message }}</p>
            </div>
        </article>
        {% endfor %}



{% endblock content %}
