{% extends "layout.html" %}

{% block content %}
    <div>
        <h2><b>{{ posts.total }}</b> posts by: <i>{{ user.username }}</i></h2>
        <p><b>Write me on mail:</b> {{ user.email }}</p>
    </div>

    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <img class="rounded-circle account-img"
                         src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                         style="width: 50px; height: 50px;"
                         alt="">

                    <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>

                    <small class="text-muted">
                        <b>{{ post.date_posted.strftime('Published on %d/%m/%Y at %H:%M') }}</b>
                    </small>
                </div>
                <h2>
                    <a class="article-title" href="{{ url_for('post', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    
    {% for page_num in posts.iter_pages(left_edge=1,
        right_edge=1,
        left_current=1,
        right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a  class="btn btn-outline-info mb-4 " 
                href="{{ url_for('user', username=user.username, page=page_num) }}">
                {{ page_num }}
                </a>
            {% else %}
                <a  class="btn btn-info mb-4 " 
                href="{{ url_for('user', username=user.username, page=page_num) }}">
                {{ page_num }}
                </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <!-- <div class="pagination">
        {% if posts.has_prev %}
            <a href="{{ url_for('user', username=user.username, page=posts.prev_num) }}">« Prev</a>
        {% endif %}

        <span>Page {{ posts.page }} of {{ posts.pages }}</span>

        {% if posts.has_next %}
            <a href="{{ url_for('user', username=user.username, page=posts.next_num) }}">Next »</a>
        {% endif %}
    </div> -->

{% endblock content %}
